.createexam {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 100vh;
    padding-top: 2rem;
  }
  
 
  mat-form-field {
    margin: 10px;
  }