<table mat-table [dataSource]=[]>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let subject"> {{subject.name}} </td>
      </ng-container>

      <ng-container matColumnDef="midyearpoints">
        <th mat-header-cell *matHeaderCellDef> Félévközi pontok </th>
        <td mat-cell *matCellDef="let subject"> {{subject.midyearpoints}} </td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Év végi pontok </th>
        <td mat-cell *matCellDef="let subject"> {{subject.grade}} </td>
      </ng-container>
  </table>
