<nav>
    <mat-toolbar id="toolbar">
        <a routerLink='personaldata'>
            <button mat-flat-button  class="btn btn-primary">
              Személyes adatok
            </button>
          </a>
          <a routerLink='subjects' >
            <button mat-flat-button class="btn btn-primary">
              Tárgyak
            </button>
          </a>
          <a routerLink='exams'>
            <button mat-flat-button class="btn btn-primary">
              Vizsgák
            </button>
          </a>
          <a routerLink='createExam' >
            <button mat-flat-button class="btn btn-primary">
              Vizsga Létrehozása
            </button>
          </a>
          <a routerLink='addpoints'>
            <button mat-flat-button class="btn btn-primary">
              ZH jegy beírása
            </button>
          </a>
          <a>
            <button mat-flat-button class="btn btn-primary" id="logoutBtn" (click)="logout()">
              Kijelentkezés
            </button>
          </a>
    </mat-toolbar>
</nav>
<router-outlet></router-outlet>

