<nav>
    <mat-toolbar id="toolbar">
        <a routerLink='personaldata'>
            <button mat-raised-button color="primary">
              Személyes adatok
            </button>
          </a>
          <a routerLink='subjects' >
            <button mat-raised-button color="primary">
              Tárgyak
            </button>
          </a>
          <a routerLink='exams'>
            <button mat-raised-button color="primary">
              Vizsgák
            </button>
          </a>
          <a routerLink='createExam' >
            <button mat-raised-button color="primary">
              Vizsga Létrehozása
            </button>
          </a>
          <a routerLink='addpoints'>
            <button mat-raised-button color="primary">
              ZH jegy beírása
            </button>
          </a>
          <a>
            <button mat-icon-button color="warn" id="logoutBtn" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </a>
    </mat-toolbar>
</nav>
<router-outlet></router-outlet>

