
<div class="row">
  <div class="tablecontainer col-3">
      <div>
        <h4>Tárgyak</h4>
      <table mat-table [dataSource]="subjects">
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Név </th>
              <td mat-cell *matCellDef="let subject"> {{subject.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayLeft"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayLeft" (click)="updateStudentList(myRowData)"></tr>
        </table>
      </div>
  </div>
  <div class="col-7">
    <div>
      <h4>Hallgatók</h4>
      <table mat-table [dataSource]="students">
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let student"> {{student.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Név </th>
              <td mat-cell *matCellDef="let student"> {{student.firstName+' '+student.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="inputs">
              <th mat-header-cell *matHeaderCellDef>Adott pontszám</th>
              <td mat-cell *matCellDef="let student"> 
                  <input matInput type="number" max="100">
              </td>
            </ng-container>

            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let student"> 
                  <button mat-raised-button color="primary" (click)="save(student)">Pontszám beírása</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayRight"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayRight"></tr>
        </table>
      </div>
  </div>
</div>