<nav>
    <mat-toolbar>
        <a routerLink='personaldata'>
            <button mat-raised-button color="primary">
              Személyes adatok
            </button>
          </a>
          <a routerLink='subjects' >
            <button mat-raised-button color="primary">
              Tárgyak
            </button>
          </a>
          <a routerLink='exams'>
            <button mat-raised-button color="primary">
              Vizsgák
            </button>
          </a>
          <a routerLink='pickUpSubject' >
            <button mat-raised-button color="primary">
              Tárgyfelvétel
            </button>
          </a>
          <a routerLink='enrollToExam'>
            <button mat-raised-button color="primary">
              Vizsgajelentkezés
            </button>
          </a>

          <a>
            <button mat-icon-button color="primary" id="logoutBtn" (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </a>
    </mat-toolbar>
</nav>
<router-outlet></router-outlet>
