.mat-toolbar{
    background-color: white;
    display: flex;
    justify-content: center;
}

.mat-toolbar a{
    display: inline;
    margin-right: 10px;
}

.mat-toolbar btn{
    width: 100%;
}


#logoutBtn{
    color: white;
    background-color: red;
    border: red;
}